body {
    background-color: #172739;
}

.box {
    position: fixed;
    left: 65%;
    top: 55%;
    justify-content: center;
    width: 400px;
    border: 3px solid#0b2350;
}

.Bienvenue {
    position: relative;
    top: 4cm;
    margin: 0.5cm;
    padding: 0.5cm;
    border-radius: 5cm;
    background-color: rgba(100, 100, 100, 0.8);
    text-align: center;
    height: 200px;
    width: 500px;
}